python-dotenv
groq
streamlit
requests
beautifulsoup4
PyPDF2
numpy
streamlit-webrtc
av
ultralytics
openai
Pillow
opencv-python
transformers
python-docx
pandas
sentence-transformers
faiss-cpu
langchain
langchain-core
langchain-groq
